In [9]:
import pandas as pd

# Reading the Excel file
coffee_mine = pd.read_excel('Coffee_Mine.xlsx')

# Reading the CSV file
coffee_with_lat_lon = pd.read_csv('coffee_with_lat_lon.csv')

In [14]:
merged_data = pd.merge(coffee_mine, coffee_with_lat_lon, on='name')

merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2636 entries, 0 to 2635
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   cost_per_12_ounces_usd_x  2636 non-null   float64
 1   name                      2636 non-null   object
 2   slug                      2636 non-null   object
 3   rating                    2636 non-null   int64
 4   roaster                   2636 non-null   object
 5   location                  2636 non-null   object
 6   origin                    2636 non-null   object
 7   roast                     2636 non-null   object
 8   est_price                 2636 non-null   object
 9   Converted price           2636 non-null   object
 10  amt                       2636 non-null   float64
 11  unit                      2636 non-null   object
 12  per unit                  2636 non-null   object
 13  cost per 12 oz            2636 non-null   object
 14  review_date               2636 non-null   object
 15  aroma                     2634 non-null   float64
 16  acid                      2279 non-null   float64
 17  body                      2636 non-null   int64
 18  flavor                    2636 non-null   int64
 19  aftertaste                2635 non-null   float64
 20  with_milk                 354 non-null    float64
 21  desc_1                    2635 non-null   object
 22  desc_2                    2634 non-null   object
 23  desc_3                    2624 non-null   object
 24  cost_per_12_ounces_usd_y  2636 non-null   float64
 25  Location_Latitude         2636 non-null   float64
 26  Location_Longitude        2636 non-null   float64
 27  Origin_Latitude           2564 non-null   float64
 28  Origin_Longitude          2564 non-null   float64
 29  Blend/Single Origin       2636 non-null   object
dtypes: float64(11), int64(3), object(16)
memory usage: 617.9+ KB

In [16]:
selected_columns = merged_data[['cost_per_12_ounces_usd_x', 'name', 'cost per 12 oz']]
selected_columns.head()

,cost_per_12_ounces_usd_x,name,cost per 12 oz
0,2721.55,GW01 Finca Sophia Olympus Geisha,"$2,635.00"
1,1360.78,Panama Carmen Geisha Washed Light Roast,"$1,317.50"
2,1360.78,Ninety Plus Panama Gesha Estate MS Joseph Brod...,$190.40
3,750.00,Panama Mokkita Natural Mama Cata Estate,$750.00
4,450.00,Mama Cata Mokkita,$80.00

In [27]:
# Removing the dollar sign and converting to numeric
selected_columns['cost per 12 oz'] = selected_columns['cost per 12 oz'].replace('[\$,]', '', regex=True).astype(float)

/var/folders/gm/s0rky8h92s99_ck2c_50c1y40000gn/T/ipykernel_61621/3442167078.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_columns['cost per 12 oz'] = selected_columns['cost per 12 oz'].replace('[\$,]', '', regex=True).astype(float)

In [33]:
selected_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2636 entries, 0 to 2635
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   cost_per_12_ounces_usd_x  2636 non-null   float64
 1   name                      2636 non-null   object
 2   cost per 12 oz            2636 non-null   float64
 3   differences               2636 non-null   float64
dtypes: float64(3), object(1)
memory usage: 82.5+ KB

In [34]:
selected_columns['differences'] = selected_columns['cost_per_12_ounces_usd_x'] - selected_columns['cost per 12 oz']

/var/folders/gm/s0rky8h92s99_ck2c_50c1y40000gn/T/ipykernel_61621/546640097.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_columns['differences'] = selected_columns['cost_per_12_ounces_usd_x'] - selected_columns['cost per 12 oz']

In [35]:
result = merged_data[['cost_per_12_ounces_usd_x', 'name', 'cost per 12 oz', 'differences']]
print(result)

      cost_per_12_ounces_usd_x  \
0                      2721.55
1                      1360.78
2                      1360.78
3                       750.00
4                       450.00
...                        ...
2631                      1.43
2632                      1.15
2633                      1.09
2634                      1.00
2635                      0.85

                                                   name  cost per 12 oz  \
0                      GW01 Finca Sophia Olympus Geisha             NaN
1               Panama Carmen Geisha Washed Light Roast             NaN
2     Ninety Plus Panama Gesha Estate MS Joseph Brod...             NaN
3               Panama Mokkita Natural Mama Cata Estate             NaN
4                                     Mama Cata Mokkita             NaN
...                                                 ...             ...
2631           Colombia Cauca Finca El Paraiso Rose Tea             NaN
2632     Symphony Costa Rica Canet Caturra Raisin Honey             NaN
2633                   Costa Rica Canet Musician Mozart             NaN
2634  Colombia Cauca Finca El Paraiso Double-Anaerob...             NaN
2635                         Hunkute by Nordic Approach             NaN

      differences
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
...           ...
2631          NaN
2632          NaN
2633          NaN
2634          NaN
2635          NaN

[2636 rows x 4 columns]